Package: codes.wilma24.spotifix
Name: Spotifix
Version: 0.0.5
Architecture: iphoneos-arm
Description: A cute little tweak to fix a crash bug on iOS 9
Maintainer: wilma242008
Author: wilma242008
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 9.0)
